name: Deploy Bicep to Azure

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy Bicep template
        uses: azure/cli@v2
        with:
          inlineScript: |
            az deployment group create \
              --resource-group pbIaCLabRG \
              --template-file webapp.bicep